// Colors
$brand-primary: #9d42c4;
$grey: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;

// Body
$body-background-color: #fafafa;
$body-default-color: #333333;
$body-default-font-family: Helvetica, Arial, sans-serif;

// Spacing
$space: 1.4rem;
$space-bottom: 1rem 1rem 1.4rem 1rem;
$space-button: .8rem 1.1rem .8rem 1.1rem;

$large-space: 2.8rem;
$site-max-width: 100rem;

// Font sizes
$base-font-size: 1.4rem;
$medium-font-size: 1.8rem;
$large-font-size: 2.2rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
$boxed-view-border-color: $grey;
$boxed-view-bg-img:'https://images.unsplash.com/photo-1506789658653-e5729a1ee31d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=df9993cd64418ab6085234de77617931&auto=format&fit=crop&w=1491&q=80';

// Button
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// Header
$header-bg: $brand-primary;
$header-color: white;
$header-height: 6rem;

// Item
$item-border-width: 4px;

// Page Content
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc(#{$site-max-width} - #{$page-content-sidebar-width});
$page-content-height: calc(100vh - #{$header-height});
