.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $space;
  padding: $input-spacing;
  text-transform: uppercase;
}

.button--export {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $space;
  margin-left: 1rem;
  padding: $input-spacing;
  text-transform: uppercase;
}

.button--add {
  background-color: $button-bg;
  border: none;
  text-align: center;
  justify-content: center;
  color: $button-color;
  cursor: pointer;
}

.button--add__center{
  display: inline-block;
  margin-top:2rem;
  
}


.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
   background-color: transparent;
   border: 1px solid $button-pill-color;
   color: $button-pill-color;
   margin: 0 ($space / 2) 0 0;
   padding: .3rem .8rem;
}

.button--secondary {
  background: $button-secondary-bg;
  border: 1px solid $button-secondary-border-color;
  color: $button-secondary-color;
}

.button--link-text {
  margin: 0;
  border:none;
  cursor: pointer;
  padding: $space-button;
  text-transform: none;
  background-color:$light-grey;
  color: $brand-primary;
  font-size: $medium-font-size;
}
