// Item List
.item-list {
  background-color: white;
  border: 1px solid $grey;
  overflow-y: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.item-list__header {
  display: flex;
  flex-direction: column;
  padding: $space-bottom;
}

// Item
.item {
  cursor: pointer;
  height: 6rem;
}

.item--content{
  padding:$space;
}


.item__title {
  font-weight: normal;
  font-size: $base-font-size;
  margin-bottom: .4rem;
}

.item--selected .item__title {
  font-weight: bold;
}

.item__subtitle {
  color: $dark-grey;
  margin: 0;
}

// Empty Item
.empty-item {
  font-style: italic;
  padding: $space;
  text-align: center;
}
